# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
frontend/dist
frontend/.vite
backend/logs

# IDE
.vscode/settings.json
.idea/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Database
mongodb-data/

# Logs
*.log
npm-debug.log*
